@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
    background-image: url('/src/assets/Resources/home/chef-service.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.OURMENUIMG{
    background-image: url('/src/assets/Resources/menu/OURMENU.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.bg_img{
   background-image: url('/src/assets/Resources/others/aa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.OurShop_img{
   background-image: url('/src/assets/Resources/shop/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.userauth{
    background-image: url('/src/assets/Resources/others/authentication1.png');
}